{% extends "layout.html" %}
{% block content %}
    <p>
        <a href="/crm/user/add" class="btn">增加</a>
    </p>
    <hr>
    <table class="table table-bordered table-bordered">
        <tr>
            <th>序列</th>
            <th>名称</th>
            <th>密码</th>
            <th>邮箱</th>
            <th>性别</th>
            <th>所在部门</th>
            <th>操作</th>
        </tr>
        {% for item in my_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.password }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.get_gender_display }}</td>
            <td>{{ item.depart }}</td>
            <td>
                <a href="/crm/user/edit/{{ item.id }}/">修改</a>
                <a href="/crm/user/del/{{ item.id }}/">删除</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <ul class="pagination">
                      {{ pager.page_html|safe }}
    </ul>
{% endblock %}
